# .env.example (root level) means frontend
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
PORT=3500

VITE_API_URL=http://localhost:3500
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3500/auth/google/callback

