# taskflow-backend/.env.example
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/YourDB
ACCESS_TOKEN_SECRET=generate-with-node-crypto-64-bytes
REFRESH_TOKEN_SECRET=generate-with-node-crypto-64-bytes
PORT=3500